/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, you can obtain one at https://mozilla.org/MPL/2.0/.
 *
 * Copyright Oxide Computer Company
 */

@font-face {
  font-family: 'GT America Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('https://oxide.computer/fonts/GT-America-Mono-Regular-OCC.woff2') format('woff2'),
    url('https://oxide.computer/fonts/GT-America-Mono-Regular-OCC.woff') format('woff');
}

@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('https://oxide.computer/fonts/SuisseIntl-Light-WebS.woff2') format('woff2'),
    url('https://oxide.computer/fonts/SuisseIntl-Light-WebS.woff') format('woff');
}

@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('https://oxide.computer/fonts/SuisseIntl-Regular-WebS.woff2') format('woff2'),
    url('https://oxide.computer/fonts/SuisseIntl-Regular-WebS.woff') format('woff');
}

@font-face {
  font-family: 'SuisseIntl';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('https://oxide.computer/fonts/SuisseIntl-RegularItalic-WebS.woff2') format('woff2'),
    url('https://oxide.computer/fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff');
}

@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('https://oxide.computer/fonts/SuisseIntl-Medium-WebS.woff2') format('woff2'),
    url('https://oxide.computer/fonts/SuisseIntl-Medium-WebS.woff') format('woff');
}
